body {
    margin: 0;
}

.contenido {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cabecera {
    width: 100%;
    height: 50px;
    background-color: #0e2974;
    font-family: Arial, Helvetica, sans-serif;
    background: #0e2974;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    color: #FFF;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;    
    text-align: center;
    margin-bottom:15px ;
}

.pie {
    color: #606060;
    font-family: "Arial";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.elementos-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}

.caja-texto {
    width: 277px;
    height: 49px;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 1px solid #B3B3B3;
    background: #FFF;
}

.boton-login {
    width: 182px;
    height: 49px;
    border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #BBB;
    background: #676767;
    box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.25);


    color: #C6C6C6;
    font-family: "Arial";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.boton-login:hover {
    background: #1a1717;
}

.botones-accion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.link-texto {

    font-family: "Arial";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.piedefoto {
    width: 338px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 0px 0px 5px 5px;

    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;

}

.logoperro{
    width: 338px;
height: 289px;
flex-shrink: 0;
    border-radius: 5px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.circular_image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    /* commented for demo
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    */
    
    /*for demo*/
    display:inline-block;
    vertical-align:middle;
  }
  .circular_image img{
    width:100%;
  }